# Web API
fastapi
uvicorn

# RAG framework
langchain_core
langchain-community
langchain_ollama
langchain-qdrant

# Vector database
qdrant-client
fastembed

# LLM (local)
ollama

# Document loading
unstructured[all-docs]
pytesseract>=0.3.10
pi_heif
pillow>=10.0.0
pytesseract>=0.3.10
opencv-python-headless>=4.9.0
numpy>=1.26.0


# Utilities
python-dotenv
python-multipart
python-docx
python-pptx
pandas
openpyxl